@media (max-width: 576px) {
  .custom-sm-w-75 {
    width: 75% !important;
  }
}

@media (max-width: 576px) {
 .hide {
  display: none;
 }
}

@media (max-width: 576px) {
  .full-sm-width {
   width:100% !important
  }
 }
